/* ==================== Google Fonts ====================== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

/* ==================== CSS Reset ====================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

body {
    line-height: 1.7;
    background-color: black;
    min-height: 200vh;
}

html {
    scroll-behavior: smooth;
}

::selection {
    color: white;
    background-color: #965f68;
}

/* ==================== Scroll Bar ====================== */
::-webkit-scrollbar {
    width: 10px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
}

/* ==================== CSS Variables ====================== */
:root {
    --font-large-color: white;
    --font-small-color: #9f9f9f;
    --main-color: #965f68;
    --bg-color-1: #131416;
    --bg-color-2: #191a20;
}

h1 {
    font-size: 90px;
    color: var(--font-large-color);
}

h2 {
    font-size: 46px;
    color: var(--font-large-color);
}

h3 {
    font-size: 34px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 20px;
}

p,
span {
    font-size: 17px;
    color: var(--font-small-color);
}

/* ==================== Reusable Classes ====================== */
.container {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: transparent;
    font-size: 17px;
    outline: none;
    border: 1px solid white;
    border-radius: 4px;
    padding: 10px 15px;
    margin-top: 20px;
    cursor: pointer;
}

.btn a {
    text-decoration: none;
}

.btn:hover {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.heading-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.animate-bar {
    width: 5rem;
    height: 4px;
    background-color: var(--main-color);
    margin-top: 15px;
    position: relative;
}

.sub-heading {
    max-width: 40rem;
    text-align: center;
    margin-top: 30px;
    padding: 0 1rem;
}

/* ==================== Navigation Bar ====================== */
#navbar {
    height: 7rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

#navbar.fixed {
    position: fixed;
    height: 4rem;
    background-color: #131416;
    transition: all 0.3s ease-in-out;
}

#navbar .logo {
    width: 4rem;
    margin-left: 4rem;
    z-index: 4;
}

#navbar .logo img {
    width: 100%;

}

#navbar .nav-items {
    display: flex;
    list-style: none;
    margin-right: 4rem;
}

#navbar .nav-items li {
    margin: 0 1rem;
}

#navbar .nav-items li a {
    text-decoration: none;
    color: #c1c1c1;
    font-size: 17px;
    cursor: pointer;
}

#navbar .nav-items li a:hover {
    /* color: white; */
    color: #965f68;
}

/* ==================== Blog Section ====================== */
#blogs {
    min-height: 100vh;
    background-color: var(--bg-color-2);
}

#blogs .container {
    margin-top: 10px;
    padding-bottom: 100px;
}

#blogs .container .head-img {
    width: 80%;
    height: 600px;
    overflow: hidden;
    cursor: pointer;
    justify-content: center;
}

#blogs .container .blog-text {
    margin-top: 30px;
    width: 80%;
}

#blogs .container .head-img img {
    width: 100%;
    height: ;
}

.blog-text {
    text-align: justify;
}

.blog-text ul,
li {
    margin-left: 10px;
}

#blogs .animate-bar {
    border-color: var(--bg-color-2);
}

.blog {
    width: 22rem;
    box-shadow: 0 25px 50px -12px rgba(0 0 0 /25%);
    margin: 10px;
    padding: 10px;
    background-color: #131416;
    position: relative;
}

.blog .img-box {
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

.blog .img-box img {
    width: 100%;
    transition: all 0.3s ease-in;
}

.blog .img-box img:hover {
    transform: scale(1.2);
}

.blog h6 {
    margin-top: 15px;
    font-size: 15px;
    line-height: normal;
    cursor: pointer;
}

.blog p {
    margin-top: 10px;
}

.blog button {
    margin-top: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.blog button a {
    text-decoration: none;
    font-size: 15px;
    color: #878e99;
}

.blog button:hover a {
    color: white;
}

.blog::before {
    content: "16th Aug";
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 15px;
    color: white;
    padding: 5px;
    background-color: var(--main-color);
    z-index: 2;
}

.blog-1::before {
    content: "16th Aug";
}

.blog-2::before {
    content: "14th Apr";
}

.blog-3::before {
    content: "12th Feb";
}
.signoff {
    width: 5rem;
}
.signoff img {
    width: 100%;
}


/* ==================== Footer Section ====================== */
footer {
    background-color: black;
    /* height: 3rem; */
    min-height: 3vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.footnote {
    align-items: flex-start;
}

/* ==================== Responsive Section ====================== */


/* Media Queries */
@media (max-width: 950px) {
    #navbar .logo {
        margin-top: 0.5rem;
        width: 46px;
    }
    #navbar .nav-items {
        position: fixed;
        flex-direction: column;
        gap: 20px;
        top: 0;
        left: -100%;
        background-color: #131416;
        width: 300px;
        height: 100%;
        padding-top: 8rem;
        padding-left: 2rem;
        transition: all 0.5s ease-in-out;
    }

    input[type="checkbox"]:checked~.nav-items {
        left: 0% !important;
    }

    #navbar .checkbox {
        display: block;
    }

    .hamburger-lines {
        display: flex;
    }

    #navbar .logo {
        margin-left: 4.5rem;
    }

    #blogs .heading-wrapper .heading h2 {
        font-size: 32px;
        width: 45rem;
    }

    #blogs .container .head-img {
        width: 45rem;
    }

    #blogs .container .blog-text {
        margin-top: -80px;
    }

    #blogs .container .blog-text h2,
    h4 {
        font-size: 28px;
    }
    footer .footnote p{
        font-size: 14px;
    }
}

@media (max-width: 850px) {
    #navbar .logo {
        margin-top: 0.5rem;
        width: 46px;
    }

    #blogs .heading-wrapper .heading h2 {
        font-size: 32px;
        width: 45rem;
    }

    #blogs .container .head-img {
        margin-top: 15px;
        margin-bottom: -110px;
        width: 46rem;
    }

    #blogs .container .blog-text {
        margin-top: 20px;
        width: 35rem;
    }

    #blogs .container .blog-text h2,
    h4 {
        font-size: 28px;
    }

    .container {
        padding: 0 80px;
    }
    footer .footnote p{
        font-size: 14px;
    }
}

@media (max-width: 700px) {
    #navbar .logo {
        margin-left: 2.5rem;
        margin-top: 1rem;
        width: 55px;
    }
    #blogs .container .blog-text {
        margin-top: -80px;
        width: 35rem;
    }
    #footer p {
        font-size: 18px;
        width: 20px;
    }
    #blogs .heading-wrapper .heading h2 {
        font-size: 32px;
        width: 35rem;
    }
    footer .footnote p{
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .container {
        padding: 0 20px;
    }

    #navbar .logo {
        margin-left: 2.5rem;
        margin-top: 1rem;
        width: 60px;
    }

    #blogs .heading-wrapper .heading h2 {
        font-size: 32px;
        width: 30rem;
    }

    #blogs .container .head-img {
        margin-top: 15px;
        margin-bottom: -110px;
        width: 32rem;
    }

    #blogs .container .blog-text {
        margin-top: -90px;
        width: 30rem;
    }

    #blogs .container .blog-text h2,
    h4 {
        font-size: 28px;
    }

    .owl-carousel .item {
        flex-direction: column;
        text-align: center;
    }

    .owl-carousel .item .img-box {
        width: 8rem;
        margin-bottom: 20px;
    }

    .owl-carousel .item .text-holder {
        padding: 0;
    }

    .owl-carousel .owl-dot {
        padding: 0 !important;
    }
    footer .footnote p{
        font-size: 14px;
    }
}

@media (max-width: 520px) {
    #navbar .logo {
        margin-left: 2rem;
        margin-top: 1rem;
        width: 46px;
    }

    #blogs .heading-wrapper  {
        padding-left: 30px;
    }  
    
    #blogs .heading-wrapper .heading {
        justify-content: center;
        align-items: center;
    }

    #blogs .heading-wrapper .heading h2 {
        font-size: 26px;
        width: 25rem;
    }

    #blogs .container .head-img {
        margin-top: 15px;
        margin-bottom: -210px;
        width: 25rem;
    }

    #blogs .container .blog-text {
        margin-top: -80px;
        width: 25rem;
    }

    #blogs .container .blog-text h2,
    h4 {
        font-size: 28px;
    }
    footer .footnote p{
        font-size: 14px;
    }
}

@media (max-width: 467px) {
    #navbar .logo {
        margin-left: 2rem;
        margin-top: 1rem;
        width: 46px;
    }

    #blogs .heading-wrapper  {
        padding-left: 30px;
    }  

    #blogs .heading-wrapper .heading {
        justify-content: center;
        align-items: center;
    }

    #blogs .heading-wrapper .heading h2 {
        font-size: 26px;
        width: 25rem;
    }

    #blogs .container .head-img {
        margin-top: 15px;
        margin-bottom: -210px;
        width: 25rem;
    }

    #blogs .container .blog-text {
        margin-top: -80px;
        width: 25rem;
    }

    #blogs .container .blog-text h2,
    h4 {
        font-size: 28px;
    }
    footer .footnote p{
        font-size: 14px;
    }
}

@media (max-width: 440px) {
    #navbar .logo {
        margin-left: 0.7rem;
        margin-top: 1rem;
        width: 40px;
    }
    #blogs .heading-wrapper  {
        padding-left: 30px;
    }   
    #blogs .heading-wrapper .heading {
        justify-content: center;
        align-items: center;
    }

    #blogs .heading-wrapper .heading h2 {
        font-size: 24px;
        width: 14em;
        margin-left: 1px;
    }

    #blogs .container .head-img {
        margin-top: 15px;
        margin-bottom: -240px;
        width: 25rem;
    }

    #blogs .container .blog-text {
        margin-top: -80px;
        width: 25rem;
    }

    #blogs .container .blog-text h2,
    h4 {
        font-size: 24px;
    }
    footer .footnote p{
        font-size: 10px;
    }
}